extends layout

block content
  main.container
    h1 Welcome back user.  

    form(action="/logout", method="post")
      button.btn.btn-primary(type='submit') Logout
    form(action="/delete", method="post")
      button.btn.btn-primary(type='submit') delete user

    


    h2 change password